body
	font-family arial
	margin 0

card-list
	& >
		.container
			margin 0 auto
			max-width 900px
			width 100%

card-list-item
	cursor pointer
	display inline-block
	height 320px
	font-size 0
	margin-left 2%
	width 96%
	& >
		.container
			display inline-block
			height 100%
			position relative
			width 100%
			& >
				.background
					background-position 50% 50%
					background-size cover
					border 1px solid #ccc
					box-sizing border-box
					height 56%
					position absolute
					width 100%
				.text-container
					height 31%
					position absolute
					top 190px
					width 100%
					& >
						.text
							color #777
							font-size 12pt
							line-height 1.2em
							max-height 100px
							overflow hidden
							position absolute
							top 40px
							width 100%
							&:hover
								text-decoration underline
						.title
							color #444
							font-size 18pt
							font-weight bold
	@media screen and (min-width: 767px)
		margin-left 0%
		width 31%
		&:nth-child(3n + 1)
		&:nth-child(3n + 2)
			margin-right 3.5%

main-header
	& >
		.container
			background-color #29B6F6
			color white
			height 120px
			position relative
			& >
				.follow
					border 1px solid white
					border-radius 12px
					bottom 12px
					cursor pointer
					font-size 9pt
					line-height 20px
					position absolute
					right 12px
					text-align center
					width 70px
				.title
					left 20px
					position absolute
					top 20px

.shadow
	&.layer-1
		box-shadow 3px 6px 20px 2px rgba(0, 0, 0, 0.5)
